.mat-card
{
    width:80%;
    
    background-color: whitesmoke;
}
label{
    text-align: center;
}
button{
    width:50%;
}
.mat-toolbar
{
    background-color: #3b5998;
    
}
h3{
    text-align: center;
}
.kyc{
    background-color:grey;
    color:black;
    text-align:center;
    font-weight: bold;
}
h5{
    text-align: center;
}
input{
    height:25px;

}
select{
    height:25px;
}